@import '../common/styles.module.scss';

.signup {
  background-image: url('../../assets/images/bg2.jpg');
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100vh;
  width: 100%;
}

h1 {
  color: white;
  padding: 10px;
}
