@import '../common/styles.module.scss';

.sideBar {
  height: 100%;
  width: 20%;
  background-color: $danger;
  color: $light;
  display: flex;
  flex-direction: column;
  border: $light 1px solid;
  border-left: none;
}

.sideBarItem {
  @extend .center;
  font-size: x-large;
  background-color: $dark;
  color: $light;
  flex: 1;
  border-bottom: $light 1px solid;

  &:hover {
    color: $light;

    @extend .active
  }
}

.active {
  background-color: $light;
  color: $dark;
  border: $dark 1px solid;
}
