@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
$secondary-color: darkblue;

// Common components styling

.card {
  width: 75%;
  border-radius: 10px;
  background-color: white;
  border: none;
}

.form-control {
  @extend .form-control;
  height: 60px;
  font-size: medium;
}

.btn {
  @extend .btn;
  @extend .btn-dark;
  font-size: large;
  height: 60px;
}

.error {
  color: $danger;
  margin-left: 10px;
  font-size: small;
}

.subscript {
  font-size: small;
  margin-left: 5px
}

.select {
  @extend .form-select;
  height: 40px;
  width: fit-content;
}

// Global stylings

a {
  text-decoration: none;
}

nav {
  background-color: $secondary-color;
  color: $light;
  padding: 0 !important;

  a {
    display: inline-block;
    color: $light;
    font-size: large;
    padding: 15px 20px;
    &:hover {
      color: $dark;
      background-color: $light;
    }
  }
}

.brand {
  font-size: x-large;

  &:hover {
    color: $light;
    background-color: $dark
  }
}

.containerFluid {
  @extend .container-fluid;
  display: flex;
  padding: 0;
  margin: 0;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  height: 100vh;
}
